/* ========================================
 * Reset
 * ======================================== */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}

/* ========================================
 * Global
 * ======================================== */
html {
  font-size: 100%; /* 1rem = 16px */
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-family);
  line-height: 1.6;
  color: var(--c-text);
  background-color: var(--c-bg);
}

a {
  box-shadow: none;
  text-decoration: none;
  word-break: break-all;
}

:focus {
  outline-color: rgba(var(--c-text-inverse), 0.2);
  outline-width: 4px;
}

/* ========================================
 * Animation
 * ======================================== */
.fade {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity var(--transition-slower) var(--ease-out-quart),
    transform var(--transition-slower) var(--ease-out-quart);

  &.is-animated {
    opacity: 1;
    transform: translateY(0);
  }
}
